spring:
  application:
    name: authify

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  devtools:
    restart:
      enabled: false

  config:
    import:
    - optional:file:.env[.properties]

server:
  port: ${APP_PORT:8081}
  servlet:
    context-path: /api/v1.0

jwt:
  secret:
    key: ${SECRET_KEY}
